<section id="application-dates"
         class="application-dates section">
  <div class="container">
    <div class="text-center mb-5">
      <h2>{{ 'application.title' | translate }}</h2>
      <p class="lead">{{ 'application.description' | translate }}</p>
    </div>

    <div class="row g-4 justify-content-center">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="date-box">
          <h4>{{ 'application.june' | translate }}</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="date-box">
          <h4>{{ 'application.february' | translate }}</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="date-box">
          <h4>{{ 'application.october' | translate }}</h4>
        </div>
      </div>

    </div>
  </div>
</section>