<footer id="footer"
        class="footer position-relative dark-background">

  <div class="container footer-top">
    <div class="row gy-4">

      <div class="col-lg-4 col-md-6 footer-about">
        <a appAutoLanguageLink="/"
           class="logo d-flex align-items-center">
          <span class="sitename d-flex gap-2">
            <img src="assets/img/Safwat-Al-Safwa-International-University.png"
                 alt="">
          </span>
        </a>
        <div class="footer-contact">
          <p class="mt-3">
            <strong>{{ 'university.phone' | translate }}</strong>
            <span>
              <a href="https://wa.me/16467100836"
                 target="_blank"
                 style="text-decoration: none; color: inherit;">
                +1 (646) 710-0836
              </a>
            </span>
          </p>

          <p>
            <strong>{{ 'university.email' | translate }}</strong>
            <span>
              <a href="mailto:saalsa123456@gmail.com"
                 target="_blank"
                 style="text-decoration: none; color: inherit;">
                {{' saalsa123456@gmail.com'}}
              </a>
            </span>
          </p>

          <p>
            <strong>{{ 'contact.facebook' | translate }}</strong>
            <span>
              <a href="https://www.facebook.com/profile.php?id=61580922790960"
                 target="_blank"
                 style="text-decoration: none; color: inherit;">
                صفوت الصفوة العالمية
              </a>
            </span>
          </p>
        </div>

        <div class="social-links d-flex mt-4">
          <a href="https://www.facebook.com/profile.php?id=61580922790960"
             target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://wa.me/16467100836"
             target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>


      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>{{ 'footer.important_links' | translate }}</h4>
        <ul>
          <li><a appAutoLanguageLink="/">{{ 'footer.home' | translate }}</a></li>
          <li><a appAutoLanguageLink="/about">{{ 'footer.about_university' | translate }}</a></li>
          <li><a appAutoLanguageLink="/faculty">{{ 'footer.faculties' | translate }}</a></li>
          <li><a appAutoLanguageLink="/institutes">{{ 'footer.institutes' | translate }}</a></li>
          <li><a appAutoLanguageLink="/research">{{ 'footer.research_center' | translate }}</a></li>
          <li><a appAutoLanguageLink="/admissions">{{ 'footer.admission' | translate }}</a></li>
          <li><a appAutoLanguageLink="/remote-learning">{{ 'footer.distance_learning' | translate }}</a></li>
          <li><a appAutoLanguageLink="/contact">{{ 'footer.contact_us' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>{{ 'footer.services' | translate }}</h4>
        <ul>
          <li><a>{{ 'footer.training_courses' | translate }}</a></li>
          <li><a>{{ 'footer.event_management' | translate }}</a></li>
          <li><a>{{ 'footer.academic_guidance' | translate }}</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>{{ 'footer.resources' | translate }}</h4>
        <ul>
          <li><a>{{ 'footer.digital_library' | translate }}</a></li>
          <li><a>{{ 'footer.scientific_journals' | translate }}</a></li>
          <li><a>{{ 'footer.student_activities' | translate }}</a></li>
          <li><a>{{ 'footer.support_center' | translate }}</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>{{ 'footer.quick_links' | translate }}</h4>
        <ul>
          <li><a appAutoLanguageLink="/admissions">{{ 'footer.academic_calendar' | translate }}</a></li>
          <li><a>{{ 'footer.e_services' | translate }}</a></li>
          <li><a>{{ 'footer.student_portal' | translate }}</a></li>
          <li><a appAutoLanguageLink="/contact">{{ 'footer.contact_us' | translate }}</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container copyinset-inline-end text-center mt-4">
    <p> <span>{{ 'footer.copyright' | translate }}</span> <span> </span></p>
  </div>

</footer>
