<footer id="footer"
        class="footer position-relative dark-background">

  <div class="container footer-top">
    <div class="row gy-4">

      <div class="col-lg-4 col-md-6 footer-about">
        <a appAutoLanguageLink="/"
           class="logo d-flex align-items-center">
          <span class="sitename d-flex gap-2">
            <img src="assets/img/Safwat-Al-Safwa-International-University.png"
                 alt="">
          </span>
        </a>
        <div class="footer-contact">
          <p class="mt-3"><strong>{{ 'university.phone' | translate }}</strong> <span>0016467100836</span></p>
          <p><strong>{{ 'university.email' | translate }}</strong> <span>{{'saalsa123456@gmail.com'}}</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="https://www.facebook.com/صفوت-الصفوة-العالمية"
             target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://wa.me/0016467100836"
             target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>

      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>{{ 'footer.important_links' | translate }}</h4>
        <ul>
          <li><a appAutoLanguageLink="/">{{ 'footer.home' | translate }}</a></li>
          <li><a appAutoLanguageLink="/about-university">{{ 'footer.about_university' | translate }}</a></li>
          <li><a appAutoLanguageLink="/faculties">{{ 'footer.faculties' | translate }}</a></li>
          <li><a appAutoLanguageLink="/institutes">{{ 'footer.institutes' | translate }}</a></li>
          <li><a appAutoLanguageLink="/research-center">{{ 'footer.research_center' | translate }}</a></li>
          <li><a appAutoLanguageLink="/admission">{{ 'footer.admission' | translate }}</a></li>
          <li><a appAutoLanguageLink="/distance-learning">{{ 'footer.distance_learning' | translate }}</a></li>
          <li><a appAutoLanguageLink="/contact">{{ 'footer.contact_us' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>{{ 'footer.services' | translate }}</h4>
        <ul>
          <li><a appAutoLanguageLink="/remote-learning">{{ 'footer.e_learning' | translate }}</a></li>
          <li><a appAutoLanguageLink="/institutes">{{ 'footer.training_courses' | translate }}</a></li>
          <li><a appAutoLanguageLink="/research">{{ 'footer.event_management' | translate }}</a></li>
          <li><a appAutoLanguageLink="/faculty">{{ 'footer.academic_guidance' | translate }}</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>{{ 'footer.resources' | translate }}</h4>
        <ul>
          <li><a appAutoLanguageLink="/research">{{ 'footer.digital_library' | translate }}</a></li>
          <li><a appAutoLanguageLink="/research">{{ 'footer.scientific_journals' | translate }}</a></li>
          <li><a appAutoLanguageLink="/research">{{ 'footer.student_activities' | translate }}</a></li>
          <li><a appAutoLanguageLink="/contact">{{ 'footer.support_center' | translate }}</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>{{ 'footer.quick_links' | translate }}</h4>
        <ul>
          <li><a appAutoLanguageLink="/admissions">{{ 'footer.academic_calendar' | translate }}</a></li>
          <li><a appAutoLanguageLink="/login">{{ 'footer.e_services' | translate }}</a></li>
          <li><a appAutoLanguageLink="/login">{{ 'footer.student_portal' | translate }}</a></li>
          <li><a appAutoLanguageLink="/contact">{{ 'footer.contact_us' | translate }}</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container copyinset-inline-end text-center mt-4">
    <p> <span>{{ 'footer.copyright' | translate }}</span> <span> </span></p>
  </div>

</footer>