@charset "UTF-8";

@use 'styles/variables';

@use 'styles/base';

@use 'styles/components';

@use 'styles/utilities';

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title-image {
  width: 500px;
  max-width: 600px;
  margin: 20px auto;
  display: block;
}

.title-image-en {
  width: 600px;
  margin: 20px auto;
  display: block;
}